@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --primary-color: #FF0A0A;
    --secondary-color: #00DD6B;
    --text-color: #242424;
    --font-family: 'Anton', sans-serif;

}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;    
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

article img {
    float: right;
}

p {
    color: var(--text-color);
}

a.social-link {
    text-decoration: none;
    color: var(--primary-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}