@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --primary-color: #044672;
    --secondary-color: #d65d17;
    --accent1-color: #00f7ff;
    --accent2-color: #ff0000;

    --heading-font: 'Anton', sans-serif;
    --paragrapgh-font: 'Anton', sans-serif;
    
    --nav-background-color: #00f7ff;
    --nav-link-color: #00395f;
    --nav-hover-link-color: #fdfdfd;
    --nav-hover-background-color: #00395f;
}

body {
    font-family: var(--paragrapgh-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
